body {
    font-family: 'Roboto', sans-serif;
  }
  
  .banner {
    margin-top: 20px;
  }
  
  h2 {
    font-weight: 700;
    margin-bottom: 30px;
  }
  
  h4 {
    text-align: center;
    margin-top: 15px;
  }
  
  footer {
    background-color: #f8f9fa;
  }
  
  footer p {
    margin: 0;
  }
  
  .navbar-nav .nav-item .nav-link {
    font-weight: 500;
    font-size: 18px;
    padding: 10px 15px;
  }
  
  @media (max-width: 768px) {
    .navbar-nav .nav-item .nav-link {
      font-size: 16px;
    }
  }